doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        title reveal.js
        link(rel='stylesheet', type='text/css', href='reset.css')
        link(rel='stylesheet', type='text/css', href='reveal.css')
        link(rel='stylesheet', type='text/css', href='theme/black.css')
        // Theme used for syntax highlighted code
        link(rel='stylesheet', type='text/css', href='plugin/highlight/monokai.css')
    body
        .reveal
            .slides
                include ./slides/slide1.pug
                include ./slides/slide2.pug
                include ./slides/slide3.pug
        script(src='reveal.js')
        script(src='plugin/notes/notes.js')
        script(src='plugin/markdown/markdown.js')
        script(src='plugin/highlight/highlight.js')
        script.
            // More info about initialization & config:
            // - https://revealjs.com/initialization/
            // - https://revealjs.com/config/
            Reveal.initialize({
                hash: true,
                // Learn about plugins: https://revealjs.com/plugins/
                plugins: [ RevealMarkdown, RevealHighlight, RevealNotes ]
            })
